// @font-face {
//   font-family: "Barlow-Regular";
//   src: url("assets/fonts/barlow-regular-webfont.woff2") format("woff2"),
//     url("assets/fonts/barlow-regular-webfont.woff") format("woff");
// }

$bg-blue: #c7e9f9;
$bg-yellow: #fcf4dd;
$text-orange: #fc820a;
